body {
    background-color: black !important;
    color: #F9F6EE !important;
    font-family: "Menlo", cursive !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P", cursive !important;
}

hr {
    margin: 1rem 0 !important;
    color: inherit !important;
    border: 0 !important;
    border-top: 1px solid !important;
    opacity: 0.6 !important;
}

table {
    width: 100% !important;
    border: 2px dotted #F9F6EE !important;
}
th, td {

    border: 1px dotted #F9F6EE !important;
    padding: 10px !important;
  }

.col {
    width: 100% !important;
    border: 2px dotted #F9F6EE;
    padding: 10px !important;
  }

.link {
    text-align: center !important;
}

.mb-1, .mb-2, .mb-3 {
    text-align: center !important;
    color: auto !important;
}

.form-control2, .fname, .lname {
    width: 60% !important;
    color: grey !important;
    margin: auto !important;
}

a {
    color: white !important;
}

label {
    color: black;
}

.custom-btn {
    background-color: #8cc63e; /*jardin green */
    color: 	#323232;
    --bs-green: #8cc63e; /*jardin green */
    --bs-success: #8cc63e; /*jardin green */
    --bs-form-valid-color: #8cc63e; /*jardin green */
    --bs-form-valid-border-color: #8cc63e; /*jardin green */
    --bs-btn-border-color: #8cc63e; /*jardin green, border of box */
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #73AD25; /*jardin green, hover over button */
    --bs-btn-hover-border-color: #73AD25;
}

/* Menlo, Monaco, 'Courier New', monospace */



    .cv-entry {
        margin-bottom: 20px;
        
    }
    .role {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .timeframe {
        font-size: 1.0rem !important;
        color: #9f9f9f;
        justify-content: right;
    }
    .details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .company {
        font-weight: bold;
    }
    .location {
        font-size: 1.0rem;
        color: #9f9f9f;
    }
    .summary {
        margin-left: 20px;
    }
    .summary li {
        margin-bottom: 5px;
    }
